profiles {
    conda {
        conda.cacheDir = "/mnt/SA127/methylation/conda"
    }
}

process {
    executor = 'slurm'
    queue = 'cpu'

    // If rawdata too large (300 G), GATK4_MARKDUPLICATES will encounter Exit code 140: The job exceeded the "wall clock" time limit.
    withName: GATK4_MARKDUPLICATES {
        time   = { 16.h    * task.attempt }
    }

    // https://github.com/nf-core/sarek/issues/918
    withName: VCFTOOLS_TSTV_COUNT {
        errorStrategy = 'ignore'
    }
}