profiles {
    conda {
        conda.cacheDir = '/mnt/SA127/methylation/conda'
    }
    docker {
        docker.runOptions        = '-u $(id -u):$(id -g)'
    }
    podman {
        podman.runOptions        = '--cgroup-manager cgroupfs'
    }
    singularity {
        singularity.cacheDir     = '/mnt/SA127/methylation/singularity/cache'
        singularity.libraryDir   = '/mnt/SA127/methylation/singularity/cache'
        singularity.pullTimeout  = '2 hours'
    }
}

process {
    executor = 'slurm'
    queue = 'cpu'

    // If rawdata too large (300 G), GATK4_MARKDUPLICATES will encounter Exit code 140: The job exceeded the "wall clock" time limit.
    withName: GATK4_MARKDUPLICATES {
        time   = { 16.h    * task.attempt }
    }

    // https://github.com/nf-core/sarek/issues/918
    withName: VCFTOOLS_TSTV_COUNT {
        errorStrategy = 'ignore'
    }

    // maxForks. GCP Otherwise: [e::sam_parse1] seq and qual are of different length samtools sort: truncated file. aborting
    withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
        cpus          = { 12                   }
        memory        = { 96.GB * task.attempt }
        maxForks      = 4
    }

    withName: 'GATK4_CNNSCOREVARIANTS.*' {
        containerOptions = '--gpus all --shm-size=384g'
        queue = 'gpu'
    }

    withName: 'DEEPVARIANT.*' {
        queue = 'gpu'
    }
}

params {
    genome           = 'GATK.GRCh38'
    aligner          = 'bwa-mem2'
    trim_fastq       = true
    save_trimmed     = false
    save_mapped      = true
    joint_germline   = true
    seq_center       = 'NOVOGENE'
    seq_platform     = 'DNBSEQT7'
    wes              = false
    tools            = 'haplotypecaller'
    email            = 'hongyongfeng@hkqai.hk'
    validate_params  = false
    genomes {
        'GATK.GRCh38' {
            fasta                   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38_masked.fasta"
            fasta_fai               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38_masked.fasta.fai"
            dict                    = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38_masked.dict"
            dbsnp                   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_156.hg38.vcf.gz"
            dbsnp_tbi               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_156.hg38.vcf.gz.tbi"
            dbsnp_vqsr              = '--resource:dbsnp,known=true,training=false,truth=false,prior=2.0 dbsnp_156.hg38.vcf.gz'
            known_indels            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Axiom_Exome_Plus.genotypes.all_populations.poly.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
            known_indels_tbi        = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,Axiom_Exome_Plus.genotypes.all_populations.poly.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
            known_indels_vqsr       = '--resource:mills,known=false,training=true,truth=true,prior=12.0 Mills_and_1000G_gold_standard.indels.hg38.vcf.gz --resource:axiomPoly,known=false,training=true,truth=false,prior=10 Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz'
            known_snps              = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{hapmap_3.3,1000G_omni2.5,1000G_phase1.snps.high_confidence}.hg38.vcf.gz"
            known_snps_tbi          = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{hapmap_3.3,1000G_omni2.5,1000G_phase1.snps.high_confidence}.hg38.vcf.gz.tbi"
            known_snps_vqsr         = '--resource:hapmap,known=false,training=true,truth=true,prior=15.0 hapmap_3.3.hg38.vcf.gz --resource:omni,known=false,training=true,truth=true,prior=12.0 1000G_omni2.5.hg38.vcf.gz --resource:1000G,known=false,training=true,truth=false,prior=10.0 1000G_phase1.snps.high_confidence.hg38.vcf.gz'
        }
    }
}